<!DOCTYPE html>
<html>
  <head>
    <title>App Idea</title>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <!-- Compiled and minified CSS -->
    <link rel= 'stylesheet' href= 'css/style.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css'>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js'></script>
    <meta name='viewport' content='initial-scale=1.0, user-scalable=no'>
    <meta charset='utf-8'>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    </style>
  </head>
  <body>
    <div class= "navbar-fixed">
      <nav class= "white navbar navbar-default">
              <div class="nav-wrapper">
                  <a href="#" class="center brand-logo"><img src= "http://www.freelogovectors.net/wp-content/uploads/2016/12/airbnb_logo.png" width= 30px height=30px/></a>
                  <i class="material-icons left">search</i>
  
                  <ul id="nav-mobile" class="right right hide-on-med-and-down">
                      <li class= "navtext" id= "third"><a href="views/signup.ejs"><font color= "black">About GoGrocery</font></a></li>
                      <li class= "navtext" id= "fourth"><a href="#"><font color= "black">Sign Up</font></a></li>
                      <li class= "navtext" id= "fifth"><a href="#"><font color= "black">Log In</font></a></li>
                      <hr />
                  </ul>
              </div>
      </nav>
    </div>
    <h1> About GoGrocery</h1>
    <p> Hi there!</p>

 </body>

</html>