<!DOCTYPE html>
<html>
  <head>
    <title>GoGrocery</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel= 'stylesheet' href= 'css/style.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css'>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js'></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script>
      // Initialize Firebase
       var config = {
        apiKey: "AIzaSyCAhPP4Zqr9g_uS4AAPi1Mu80ho7CAlZWI",
        authDomain: "app-idea-1.firebaseapp.com",
        databaseURL: "https://app-idea-1.firebaseio.com",
        projectId: "app-idea-1",
        storageBucket: "app-idea-1.appspot.com",
        messagingSenderId: "204524507879"
      };
      firebase.initializeApp(config)
    </script>
    <style>
      
    </style>
    
  </head>
  <body class = "loginBody" >
    <div class= "navbar-fixed">
        <nav class= "teal darken-2 navbar navbar-default">
                <div class="nav-wrapper">
                    <a href="/home" class="left brand-logo" id= "logoName"><font size= "10">GoGrocery</font></a>
                    <ul id="nav-mobile" class="right">
                        <li class= "navtext  hide-on-med-and-down" id= "third"><a href="/home"><font color= "white" size= "4">About GoGrocery</font></a></li>
                        <li class= "navtext" id= "fourth"><a href="signup" ><font color= "white" size="4">Sign Up</font></a></li>
                        <li class= "navtext" id= "fifth"><a href="/login" id= "login"><font color= "white" size="4" id= "loginbutton">Log In</font></a></li>
                        <hr />
                    </ul>
                </div>
        </nav>
    </div> 
 
    <div id="table" class= "col s9" style = "display: inline-block;">
        <br />
     
        <span class= "flow-text" id= "loginHeading"><font size= "10"><center>Login</center></font></span>
        
        <center><img src = "http://images.clipartpanda.com/grocery-clipart-1252px-Shopping_cart_with_food_clip_art.svg.png" width = 50px height = 50px /></center>
        <br />
    
        <a  class="waves-effect waves-light btn" id= "googlesigninbutton" onclick = {signInWithGoogle()} ><i class="material-icons left">cloud</i>Sign in with Google</a>
        &nbsp
        &nbsp
        &nbsp
        &nbsp
        &nbsp
        &nbsp
        &nbsp
        &nbsp
        <a  class="waves-effect waves-light btn" id= "facebooksigninbutton" onclick = {signInWithGoogle()} ><i class="material-icons left">cloud</i>Sign in with Facebook</a>
        <br/>
        <br/>
        <span class= "flow-text" id= "loginsmallerheading"><font size= "5"><center>or sign in with your own GoGrocery account:</center></font></span>
        <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label class= "label" for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label class = "label" for="password">Password</label>
            </div>
        </div>
        <button onclick = {signOut()}></button>

        <a  class="waves-effect waves-light btn" id= "signinbutton" onclick = {signInWithOwnAccount()}><center>Sign In</center></a>
    </div>
    
    <script
        src = "js/firebaseAuth.js">
     </script>
     
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

 </body>

</html>